main { 
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;

 
}
.caja {
    height: 3rem;
    width: 3rem;
    background-color: yellowgreen;
    border-bottom:  5px solid red;
   
    
    

}

